<table class="verOffers">
    <tr>
        <td class="verOffers__img">
            <a href="{{ offerLink1 }}">
                <img src="{{ offerImg1 }}" alt="{{ offerName1 }}">
            </a>
        </td>
        <td class="verOffers__img">
            <a href="{{ offerLink2 }}">
                <img src="{{ offerImg2 }}" alt="{{ offerName2 }}">
            </a>
        </td>
        <td class="verOffers__img">
            <a href="{{ offerLink3 }}">
                <img src="{{ offerImg3 }}" alt="{{ offerName3 }}">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ offerLink1 }}" class="verOffers__title">{{ offerName1 }}</a>
        </td>
        <td>
            <a href="{{ offerLink2 }}" class="verOffers__title">{{ offerName2 }}</a>
        </td>
        <td>
            <a href="{{ offerLink3 }}" class="verOffers__title">{{ offerName3 }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <div class="verOffers__provider">{{ offerProvider1 }}</div>
        </td>
        <td>
            <div class="verOffers__provider">{{ offerProvider2 }}</div>
        </td>
        <td>
            <div class="verOffers__provider">{{ offerProvider3 }}</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="verOffers__price"><b>{{ offerPrice1 }}</b> руб.</div>
        </td>
        <td>
            <div class="verOffers__price"><b>{{ offerPrice2 }}</b> руб.</div>
        </td>
        <td>
            <div class="verOffers__price"><b>{{ offerPrice3 }}</b> руб.</div>
        </td>
    </tr>
    <tr>
        <td>
            <a class="buy" href="{{ offerLink1 }}">Купить</a>
        </td>
        <td>
            <a class="buy" href="{{ offerLink2 }}">Купить</a>
        </td>
        <td>
            <a class="buy" href="{{ offerLink3 }}">Купить</a>
        </td>
    </tr>
</table>